/*main */
body {
    overflow-x: hidden;
    background-color: rgb(43, 38, 46);
    background:linear-gradient(to top left, rgb(43, 38, 46), rgb(46, 14, 69));
    font-family: 'Poppins', sans-serif;

}

.mainlogo {
    height: 350px;
    border-radius: 200%;
    
    transition: 250ms ease-in-out;
}


.mainlogo:hover {
    height: 350px;
    border-radius: 200%;
    box-shadow: 0px 0px 25px white, 0px 0px 750px rgb(149, 2, 255)
}

@media  (max-width: 768px) {
    }
    body {
      
        background-color:rgb(43, 38, 46); 
        
    }   
    
}

.button-desktop:hover {
    box-shadow: 0 0px 15px rgb(255, 255, 255), 0 0px 70px rgb(149, 2, 255)

}

.conteneur {
    height: 100%;
}
.button-desktop {
 background-color: rgb(255, 255, 255,0.6);
 border-radius: 50px;
 border:5px solid orange;
 transition: 300ms ease-in-out;
}

.Ligne {
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
}

.hautDroite {
    float: right;
    margin-right: 25px;
    
}


.btn1, .btn2, .btn3, .btn4 {
    font-size: 50px;
    
}

.logo {
    position: absolute;
    transform: translateX(-50%);
}

.header {
    text-align: center ;
}


.sidebar {
    
    transition:all 0.5s ease-in-out;
    background-color:rgb(43, 38, 46);
    border: 10px solid rgb(43, 38, 46);
    display:hidden;
    height: 1000px;
    transform: translateX(150);

    
}


.sidebar.ouvert {
    position:fixed;
    width: 200px;
    background-color:white;
    border: 10px solid orange; 

}

hr {
    border: 3px solid rgb(255, 255, 255);
    transition: 200ms ease;
    box-shadow: 0 0px 600px rgb(255, 255, 255);
    border-radius: 50px;
}

.space {
    height: 250px;
}

.searchbar {
    border: 3px solid orange;
    border-radius: 25px;
    transition: 300ms ease-in-out;
}
.searchbar:focus{
    box-shadow: 0 0px 15px rgb(255, 255, 255), 0 0px 70px rgb(149, 2, 255);
    outline: none;
}

icon {
    color: white;
    height: 150px;

}

.social {
    color: orange;
    height: 30px;

}

.socialig {
    margin: 30px ;
}

.bubble {
    
    justify-content: center;
    align-items: center;
    width: 700px;
}


