.newsletter-container {
  position: relative;
  width: 100%; 
  height: auto; 
  display: inline-block;
}

.newsletter-image {
  width: 100%;
  height: auto;
  display: block;
}

.newsletter-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%; 
}

.newsletter-form {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.input-group {
  display: flex;
  max-width: 450px;
  width: 100%;
}

.newsletter-input {
  flex: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.subscribe-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}