@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');

.cairo {
    font-family: 'Cairo';
}


.allDir {
    font-weight: 600;
}

.activePage {
    color: gray;
}

.dir {
    color: #6C5DD3;
}

.detailPage {
    margin-left: 150px;
    margin-right: 150px;
}

.bookCover {
    width: 398px;
    height: 572px;
    background-color: #C4C4C4;
    border-radius: 20px;
    border-color: transparent;

}

.bookTitle {
    font-family: 'Cairo';
    font-weight: 900 !important;
    font-size: 50px;
}

.rating {
    padding-top: 25px;
    display: flex;
}

.star {

    height: 24px;
    padding-right: 6px;
}

.note {

    padding-left: 15px;
    font-weight: bold;
    font-size: 24px;
    margin-top: -6px;
}

@media screen and (min-width: 992px) and (max-width: 1635px) {
    .bookInfo {
        margin-left: 170px;
    }

    .authorShip {
        margin-left: 170px;
    }

}


.svgNotes {
    height: 24px;
    padding-left: 40px;
    padding-right: 10px;
}

.stringNotes {
    font-size: 14px;
    font-weight: 600;
}

.synopsis {
    width: 60vw;
}

.authorImg {
    background-color: #C4C4C4;
    width: 50px;
    height: 50px;
    border-radius: 14px;
}

.authorShip {
    padding-top: 20px;
    display: flex;
}

.socials {
    width: 131px;
    height: 38px;
    margin-top: -10px;
    margin-left: 10px;
    font-size: 14px;
    border-radius: 14px;
}

.facebook {
    margin-left: 100px;
    background-color: #1E33E5;
}


.facebook:hover {
    background-color: #2a0caf;
}


.twitter {
    background-color: #61C3E2;
}

.twitter:hover {
    background-color: #4383be;
}


.whatsapp {
    background-color: #53C258;
}

.whatsapp:hover {
    background-color: #39a15c;
}

.email {
    background-color: #AAAAAA;
}


.email:hover {
    background-color: #8f8f8f;
}

.info {
    margin-top: -10px;
    display: flex;
}

.publisherInfo {

    margin-left: 70px;
}

.yearInfo {

    margin-left: 70px;
}

.authorInfo {

    margin-left: 30px;
}

.bold {
    font-weight: bold;
}

.freeShipping {
    color: #6C5DD3;
    background-color: #EBE8FE;
    border-color: transparent;
    width: 213px;
    border-radius: 14px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 250px;
}

.inStock {
    color: #3EB760;
    background-color: #DDF5E4;
    border-color: transparent;
    width: 183px;
    border-radius: 14px;
    font-size: 18px;
    font-weight: bold;
}

.bar {
    border-top: 3px dotted #AAAAAA;
    width: 100%;
    width: 1157px;
}

.price {
    display: flex;
    align-items: center;
}

.currentPrice {

    font-size: 45px;
    font-weight: bold;
}

.oldPrice {
    margin-left: 25px;
    font-size: 20px;
}

.discountedPrice {
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #FF754C;
    border-radius: 14px;
    width: 57px;
    height: 29px;

}

.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 189px;
    height: 60px;
    padding: 5px 10px;
    border: 1px solid rgba(138, 43, 226, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(138, 43, 226, 0.1);
    font-family: sans-serif;
    margin-left: 300px;  
}

.quantity-btn {
    background: none;
    border: none;
    color: #7a5af5;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 0 5px;

}

.quantity-btn:focus {
    outline: none;
}

.quantity-number {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.addToCart {
    background-color: #6C5DD3;
    width: 229px;
    height: 60px;
    border-radius: 14px;
    margin-left: 30px; 
}

.Like {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 14px;
    margin-left: 30px;
}